flask
python-dotenv
llama-index
pymongo
qdrant-client
llama-index-vector-stores-qdrant
llama-index-vector-stores-mongodb
gunicorn
beautifulsoup4
requests
pypdf
docx2txt
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
prometheus-flask-exporter
