python-dotenv
Flask
Flask-Cors
pymongo
llama-index
llama-index-embeddings-huggingface
llama-index-llms-azure-openai
llama-index-llms-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-mongodb
llama-index-embeddings-azure-openai
qdrant-client
llama-index-vector-stores-qdrant
langchain
google-generativeai
semantic-kernel
requests
gunicorn
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
prometheus-flask-exporter