python-dotenv
llama-index
pymongo
qdrant-client
llama-index-vector-stores-qdrant
llama-index-vector-stores-mongodb
gunicorn
beautifulsoup4
requests
pypdf
PyPDF2
docx2txt
python-docx
structlog
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
fastapi[security]
uvicorn
python-multipart
torch
sentence-transformers
